@import '@/styles/vars.scss';

.searchBox {
	padding: 0px 16px 16px;
	position: relative;
}
.search {
	width: 100%;
	padding: 8px 12px;
	background: rgba(201, 204, 209, 0.24);
	&::placeholder {
		color: $fgTertiary;
	}
}
.clear {
	padding: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 11px;
	background: transparent;
}
