$bgPrimary: #ffffff;
$bgSecondary: #f2f3f5;
$bgHoverSecondary: #ebedf0;
$bgPressedSecondary: #e6e7eb;

$fgPrimary: #171a1f;
$fgSecondary: #71747a;
$fgQuaternary: #c8c9cc;

$accentPrimary: #248bf2;
$accentHoverPrimary: #3399ff;
$accentPressedPrimary: #1677d9;
$accentMuted: #398fe5;
$accentPositive: #40b855;
$accentNegative: #f23051;
$accentHoverNegative: #ff4060;
$accentPressedNegative: #d92140;
$accentPay: #171a1f;
