@import '@/styles/vars.scss';

.registerPage {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	padding: 0px 10px;
}
.logo {
	width: 128px;
	height: 128px;
}
.inputsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
}
.downloadImage {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 96px;
	height: 96px;
	border-radius: 100px;
	background: $bgSecondary;
	margin-bottom: 20px;
}
.downloadInput {
	position: absolute;
	inset: 0;
	opacity: 0;
	width: 96px;
	height: 96px;
	border-radius: 100px;
	cursor: pointer;
}
.avatar {
	width: 100%;
	height: 100%;
}
.box {
	display: flex;
	flex-direction: column;
	gap: 2px;
	width: 100%;
	min-height: 80px;
}
.input {
	font-weight: 600;
	padding: 16px;
	width: 100%;
	max-width: 320px;
	border-radius: 8px;
	background: rgba(201, 204, 209, 0.24);
	&::placeholder {
		color: $fgTertiary;
	}
	&:focus {
		background: rgba(169, 174, 184, 0.24);
	}
}
.error {
	padding-left: 10px;
	font-size: 13px;
	color: $accentNegative;
}

.warning {
	text-align: center;
	font-size: 13px;
	line-height: 20px;
	color: $fgTertiary;
}
.warningContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.warningLink {
	color: $fgTertiary;
	font-weight: 600;
	&:hover {
		text-decoration: underline;
	}
}
