@import '@/styles/vars.scss';

.message {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
}
.messageInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $accentPrimary;
	font-weight: 300;
}
.messageImg {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}
.messageContent {
	max-width: 80%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.text {
	background: $fgTertiary;
	padding: 10px 20px;
	border-radius: 0px 10px 10px 10px;
	max-width: max-content;
	font-weight: 600;
}
.sendedImg {
	width: 50%;
}

.owner {
	flex-direction: row-reverse;
	.messageContent {
		align-items: flex-end;
		.text {
			background-color: $accentPrimary;
			color: white;
			border-radius: 10px 0px 10px 10px;
		}
	}
}
